services:
  mysql:
    image: mysql:8.0
    container_name: memory_game_mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: memory_game
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data: