apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
  namespace: dad-group-5
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.ingress.kubernetes.io/websocket-services: "websocket-server"
spec:
  rules:
    # Regra do Frontend
    - host: web-dad-group-5-172.22.21.253.sslip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: web # Isto agora bate certo com o service do ficheiro Vue
                port:
                  number: 80
    
    # Regra da API
    - host: api-dad-group-5-172.22.21.253.sslip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: api # Isto agora bate certo com o service do ficheiro Laravel
                port:
                  number: 8000

    # Regra dos WebSockets
    - host: ws-dad-group-5-172.22.21.253.sslip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: websocket-server
                port:
                  number: 3000